[Desktop Entry]
Type=Application
Name=ctli
GenericName=Linac's controls gui
Comment=Opens linac's controls graphical interface
Exec=ctli
Icon=albact-li
Terminal=false
Categories=X-albact;X-albact;
StartupNotify=true
