<taurusgui_config>
  <GUI_NAME>ctlinac</GUI_NAME>
  <ORGANIZATION>ALBA</ORGANIZATION>
  <CUSTOM_LOGO/>
  <PanelDescriptions>
    <PanelDescription>
      <name>plc1</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC1</model>
    </PanelDescription>
    <PanelDescription>
      <name>plc2</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC2</model>
    </PanelDescription>
    <PanelDescription>
      <name>plc3</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC3</model>
    </PanelDescription>
    <PanelDescription>
      <name>plc4</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC4</model>
    </PanelDescription>
    <PanelDescription>
      <name>plc5</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC5</model>
    </PanelDescription>
  </PanelDescriptions>
  <ExternalApps>
    <ExternalApp>
      <command>tauruspanel</command>
      <params>li/ct/plc1</params>
      <text>plc1</text>
      <icon>application-x-executable</icon>
    </ExternalApp>
    <ExternalApp>
      <command>tauruspanel</command>
      <params>li/ct/plc2</params>
      <text>plc2</text>
      <icon>application-x-executable</icon>
    </ExternalApp>
    <ExternalApp>
      <command>tauruspanel</command>
      <params>li/ct/plc3</params>
      <text>plc3</text>
      <icon>application-x-executable</icon>
    </ExternalApp>
    <ExternalApp>
      <command>tauruspanel</command>
      <params>li/ct/plc4</params>
      <text>plc4</text>
      <icon>application-x-executable</icon>
    </ExternalApp>
    <ExternalApp>
      <command>tauruspanel</command>
      <params>li/ct/plc5</params>
      <text>plc5</text>
      <icon>application-x-executable</icon>
    </ExternalApp>
  </ExternalApps>
  <MONITOR></MONITOR>
</taurusgui_config>
