<taurusgui_config>
  <GUI_NAME>ctli</GUI_NAME>
  <ORGANIZATION>ALBA</ORGANIZATION>
  <CUSTOM_LOGO/>
  <PanelDescriptions>
    <PanelDescription>
      <name>plc1</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC1</model>
    </PanelDescription>
    <PanelDescription>
      <name>plc2</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC2</model>
    </PanelDescription>
    <PanelDescription>
      <name>plc3</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC3</model>
    </PanelDescription>
    <PanelDescription>
      <name>plc4</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC4</model>
    </PanelDescription>
    <PanelDescription>
      <name>plc5</name>
      <classname>TaurusDevicePanel</classname>
      <modulename/>
      <widgetname/>
      <floating>True</floating>
      <sharedDataWrite/>
      <sharedDataRead/>
      <model>LI/CT/PLC5</model>
    </PanelDescription>
  </PanelDescriptions>
  <MONITOR></MONITOR>
</taurusgui_config>
